.table-head-section {
  display: flex;
  justify-content: space-between;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
}

.size-sm {
  height: 30px; /* Adjust as needed */
  min-width: unset; /* Remove default min-width if desired */
  padding: 0 12px; /* Reduce horizontal padding */
  font-size: 12px; /* Reduce font size */
  margin: 0 5px;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 20px;
}

.actions-items {
  mat-icon {
    margin-right: 0 !important;
  }
}