<div class="admin-layout-container">
  <app-header (menuToggled)="toggleSidebar()" />
  
  <mat-drawer-container class="drawer-container">
    <mat-drawer 
      [mode]="'side'" 
      [opened]="isSidebarOpen()" 
      class="sidebar-drawer"
    >
      <app-sidebar 
        [isOpen]="isSidebarOpen()" 
        (sidebarClosed)="closeSidebar()" 
      />
    </mat-drawer>
    
    <mat-drawer-content class="main-content">
      <div class="content-wrapper">
        <router-outlet />
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
