.search-field {
  width: 100%;
  max-width: 400px;

  .mat-mdc-input-element {
    font-size: 0.85rem;
  }

  .mat-mdc-form-field-subscript-wrapper {
    margin-top: 0;
  }

  // input {
  //   padding-right: 36px;
  // }
}
