// Color variables that can be used across multiple theme files
$primary-color: #3E4EE4;
$accent-color: #E09E01;
$info-color: #617193;
$success-color: #22C55E;

// $warn-color - material ui used a red color (default)