.rx-player-wrapper {
  position: relative;
  // max-width: 1200px;
  margin: auto;
}

/* 16:9 aspect ratio */
.aspect-ratio {
  position: relative;
  width: 100%;
  height: 56.25%; // height override to match aspect ratio
  aspect-ratio: 16 / 9; // modern CSS, supported in all major browsers
  background: #000;
  border-radius: 10px;
  overflow: hidden;

  img,
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.thumbnail {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.6);
    border: none;
    width: 80px;
    height: 80px;
    border-radius: 50rem;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    mat-icon.material-icons {
      width: 40px;
      height: 40px;
      font-size: 40px;
    }
  }
}

.player video {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
